:root {
  --royal-green: #0b3d2e;
  --soft-gold: #d4af37;
  --white:whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*font-family: "Segoe UI", Arial, sans-serif;*/
  font-size: 'Poppins' , sans-serif;
  background-color: var(--soft-gold);
  color: var(--white);
  min-height: 100vh;
  border-radius:15;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #06261e;
  align-items: center;
  padding: 20px 60px;
  position:fixed;
  width:100%;
  z-index:100;
  height:100px;
  border-radius:5px;


}

.logo {
  color: var(--soft-gold);
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin:0;
}

nav a {
  color: var(--white);
  margin-left: 25px;
  text-decoration: none;
  font-size: 1rem;
  
  gap:1rem;
  
}

nav a:hover {
  color: var(--soft-gold);
}

/* HERO SECTION */
.hero {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  background-color: var(--royal-green);
}

#typing-text {
  font-size: 2.0rem;
  color: var(--soft-gold);
  margin-bottom: 15px;
  min-height: 60px;
  max-width: 70%;
  text-align: center;
}
.typing-text {
  font-size: 2.0rem;
  color: var(--soft-gold);
  margin-bottom: 15px;
  min-height: 60px;
  max-width: 70%;
  
}

.subtitle {
  max-width: 700px;
  font-size: 1.1rem;
  margin-bottom: 30px;
  opacity: 0.9;
}

/* CTA */
.cta {
  
  padding: 12px 28px;
  background-color: transparent;
  border: 2px solid var(--soft-gold);
  color: var(--soft-gold);
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s ease;
  text-align: center;
}

.cta:hover {
  background-color: var(--soft-gold);
  color: var(--royal-green);
}





.cta.secondary {
  font-size: 0.95rem;
}

/* HOME IMAGE SLIDER */
.home-slider {
  overflow: hidden;
  width: 100%;
  background-color:var(--white); /* darker green shade */
  padding: 30px 0;
}

.slider-track {
  display: flex;
  gap: 20px;
  width: max-content;
}

.slider-track img {
  width: 280px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
#but1
{
    text-align: center;
    background-color: var(--royal-green);
    height: 70px;
    justify-content: center;
}

/* FOOTER */
.footer {
  background-color: #06261e; /* darker than main green */
  padding: 40px 20px;
  text-align: center;
}

.footer-brand {
  color: var(--soft-gold);
  font-size: 1.4rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
  
}

.social-icons img {
  width: 28px;
  border-radius: 70%;
  height: 28px;
  /*filter: brightness(0) invert(1);
  transition: transform 0.3s ease, filter 0.3s ease;*/
}

.social-icons img:hover {
  transform: scale(1.2);
  filter: none; /* shows original icon color */
}

.footer p {
  font-size: 0.9rem;
  opacity: 0.8;
}


/* WHY US SECTION */
.why-us {
  padding: 80px 20px;
  background-color: #0a3528;
  text-align: center;
}

.why-us h2 {
  color: var(--soft-gold);
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.why-intro {
  max-width: 700px;
  margin: 0 auto 50px;
  font-size: 1.1rem;
  opacity: 0.9;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.why-card {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px 25px;
  border-radius: 14px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-card h3 {
  color: var(--soft-gold);
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.why-card p {
  font-size: 0.95rem;
  line-height: 1.6;
}

.why-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

/* ABOUT PAGE */
.about-hero {
  padding: 100px 20px;
  text-align: center;
  background-color: #082f24;
}

.about-hero h2 {
  color: var(--soft-gold);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.about-hero p {
  max-width: 700px;
  margin: auto;
  font-size: 1.1rem;
  opacity: 0.9;
}

/* ABOUT SECTIONS */
.about-section {
  padding: 70px 20px;
  max-width: 1000px;
  margin: auto;
  background-color: var(--royal-green);
}

.about-section h3 {
  color: var(--soft-gold);
  margin-bottom: 15px;
  font-size: 1.6rem;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.7;
  opacity: 0.95;
}

.alt-bg {
  background-color: #0a3528;
}

/* GRID */
.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

/* CTA */
.about-cta {
  padding: 80px 20px;
  text-align: center;
  background-color: #06261e;
}

.about-cta h2 {
  color: var(--soft-gold);
  margin-bottom: 25px;
  font-size: 2rem;
}

.active {
  color: var(--soft-gold);
  font-size: 1.8rem;
  letter-spacing: 1px;
}
.hero p {
  opacity: 0.85;
  color:var(--soft-gold);
}

.gallery-cta {
  text-align: center;
  padding: 70px 20px;
  background-color:var(--royal-green);
  
}
.gallery-grid {
   display:grid;
   grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
   gap:6px;
   padding:20px;
   max-width:100%;
   margin:auto;
  background-color:var(--soft-gold);
}
.gallery-thumb{
  width:100%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 5px;
  overflow:hidden;
  cursor:pointer;
}
.gallery-thumb img {
  width:100%;
  height:100%;
  object-fit: cover;
  transition:transform 0.25s ease;
}
.gallery-thumb:hover {
  transform:scale(1.05);
}
.viewer {
  position:fixed;
  inset:0;
  
  
  display:none;
  /*justify-content: center;*/
  align-items:center;
  z-index: 2000;

}
.viewer img {
  width:100%;
  height:100%;
  object-fit:contain;
}
.viewer-close {
  position: absolute;
  top:20px;
  right:30px;
  font-size: 40px;
  color: #fff;
  cursor:pointer;
}
.viewer::after {
  content:"Silyvanus Media";
  position: absolute;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color:rgba(255,255,255,0.15);
  pointer-events: none;
  transform: rotate(-20deg);
}
@media(max-width:600px) {
  .gallery-grid{
    grid-template-columns: repeat(auto-fill,minmax(120px,1fr));
  }
}

.packages-section {
  padding: 80px 6%;
  background: var(--white);
}
.packages-section h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 50px;
  color:#111;

}

.packages-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(260px, 1fr));
  gap:30px;
  align-items: stretch;

}

.package-card {
  background: var(--white);
  border-radius: 16px;
  background-color: var(--royal-green);
  padding: 35px 28px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  position:relative;
  color:var(--soft-gold);
}
.package-card:hover {
  transform: translate(-8px);
  box-shadow: 0 18px 40px rgba(0,0,0,1.12);

}
.package-card.features {
  border: 2px solid var(--soft-gold);
  background: linear-gradient(180deg,var(--white),var(--white));

}

.package-card.package-card.featured::before {
   content:"Most Popular";
   position: absolute;
   top: -12px;
   right: 20px;
   background: var(--soft-gold);
   color: var(--white);
   font-size: 0.75rem;
   padding: 6px 14px;
   border-radius: 20px;
}

.package-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color:#111;
  color:#fff;

}
.package-card.price {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #c79a3b;
}
.package-card ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}
.package-card ul li {
  margin-bottom: 10px;
  color:white;
  font-size : 0.95rem;
  position: relative;
  padding-left: 18px;
}
.package-cardul li::before{
  content:".";
  position: absolute;
  left:0;
  color:var(--soft-gold);
  font-weight: bold;
}

.package-card.btn {
  text-align: center;
  padding: 14px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s ease;
}
.package-card.btn.primary{
  background: #111;
  color:#fff;

}
.package.btn.primary:hover {
  background:var(--soft-gold);
  color:#fff;
}
.section-subtitle {
  color:var(--soft-gold);
  font-size: 1.5rem;
  color:var(--royal-green);
}

@media (max-width: 480px) {
  .packages-section {
    padding: 60px 5%;
  }
  .packages-section h2 {
    font-size:1.8rem;
  }
}